<a href="https://colab.research.google.com/github/Jeromy0515/big-data-analysis-2/blob/main/python_basic03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# in 멸령어 
list = [12, 33, 24, 15, 6, 39]


# 리스트 안에 값이 12인 원소의 존재 여부 확인
n = 12
ownership = n in list
print(ownership)

if n in list:
  print('{}은 리스트안에 존재합니다.'.format(n))

True
12은 리스트안에 존재합니다.

In [5]:
# del 명령어
list2 = [24, 64, 34, 26, 86, 17]

print(list2)

# 리스트 안에 4번째 원소 삭제
del list2[4]
print(list2)

[24, 64, 34, 26, 86, 17]
[24, 64, 34, 26, 17]

In [10]:
# del 함수
list4 = [1, 52, 36, 86, 42, 64]

print(list4)
# 가장 마지막에 있는 원속 삭제
del(list4[-1])
print(list4)

[1, 52, 36, 86, 42, 64]
[1, 52, 36, 86, 42]

In [6]:
# remove 함수
list3 = [14, 53, 26, 75, 67, 83, 14]

print(list3)
# 14의 값을 가진 원소 삭제 해당 값 중복 시 가장 앞에 있는 원소를 삭제함
list3.remove(14)
print(list3)

[14, 53, 26, 75, 67, 83, 14]
[53, 26, 75, 67, 83, 14]

In [16]:
# 실습
# list1 끝에 4가 담기도록 추가
list1 = [1, 2, 3]
print('list1 :', list1)

list1.append(4)
print('list1 :', list1)

print('---------------------------------------')
# list1과 list2에 1~6 까지 숫자를 자유롭게 선언해서 list3을 출력했을때 [1, 2, 3, 4, 5, 6]이 출력되게 하기
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print('list1 :', list1)
print('list2 :', list2)

list3 = list1 + list2
print('list3 :', list3)

print('---------------------------------------')
# 조건문을 활용하여 numbers 안에 5가 들어있으면 5가 들어 있다 라고 출력하기
numbers = [1, 5, 3, 6, 7]
print('numbers :', numbers)

n = 5
if n in numbers:
  print('{}가 들어 있다.'.format(n))

print('---------------------------------------')
# list1에 1, 2, 3 을 선언하고 2를 삭제하기
list1 = [1, 2, 3]
print('list1 :', list1)

list1.remove(2)
print('list1 :', list1)

list1 : [1, 2, 3]
list1 : [1, 2, 3, 4]
---------------------------------------
list1 : [1, 2, 3]
list2 : [4, 5, 6]
list3 : [1, 2, 3, 4, 5, 6]
---------------------------------------
numbers : [1, 5, 3, 6, 7]
5가 들어 있다.
---------------------------------------
list1 : [1, 2, 3]
list1 : [1, 3]

In [31]:
# 리스트 심화
list = [135, 546, 346, 145, 642]
print(list)

# index 함수

# 346 이라는 값이 몇번 째 인덱스에 있는지 위치를 반환
list.index(346)

# 없는 값을 찾고자 할때 
# list.index(999) # error

# extend 함수
list2 = [1, 2, 3] + [4, 5, 6]
print('list2 :', list2)

# 리스트에 끝 부분에 원소들(리스트)을 추가
list2.extend([7, 8, 9])
print('list2 :', list2)

# insert 함수
list3 = [1, 2 , 3, 4, 5]
print('list3 :', list3)

# 해당 위치(첫번째 인자 값)에 원소를 배치하고 뒤에 있는 원소들을 한칸씩 밀어냄
list3.insert(1, 6)
print('list3 :', list3)

list3.insert(-1, 7)
print('list3 :', list3)

# 해당 위치(첫번째 인자 값)가 리스트의 길이를 넘어갈 시 원소를 가장 끝에 배치함
list3.insert(1000, 8)
print('list3 :', list3)

[135, 546, 346, 145, 642]
list2 : [1, 2, 3, 4, 5, 6]
list2 : [1, 2, 3, 4, 5, 6, 7, 8, 9]
list3 : [1, 2, 3, 4, 5]
list3 : [1, 6, 2, 3, 4, 5]
list3 : [1, 6, 2, 3, 4, 7, 5]

In [33]:
# 리스트 정렬

list = [4, 6, 3, 2 , 5, 8, 1, 7, 9]
# sort 함수 : 오름차순 정렬
list.sort()
print('sort :', list)

# reverse 함수 : 내림차순 정렬
list.reverse()
print('reverse sort :', list)

sort : [1, 2, 3, 4, 5, 6, 7, 8, 9]
reverse sort : [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [48]:
# 실습
# safe_index() 함수 생성하기
# a_list와 정수 값을 매개변수로 받아서 a_list 안에 값이 있으면 인덱스의 위치를 반환하는 함수, 값이 없으면 None 반환

list1 = [1, 2, 3, 4, 5]
# 매개변수 초기화
def safe_index(a_list, n=5):
  if n in a_list:
    return a_list.index(n)
  else:
     return None

print(safe_index(list1, 4))
print(safe_index(list1))
print(safe_index(list1, 7))

3
4
None